OPENSEARCH_ENDPOINT=vpc-dev-c-dev-cnap-il6-opensear-gsubaunjbfw3i6w2gnjfv4g6w4.us-gov-west-1.es.amazonaws.com
AWS_REGION=us-gov-west-1
OPENSEARCH_INDEX=test-logs-*
ENABLE_RAG=true
S3_BUCKET_NAME=cnap-dev-il6-ollama-knowledge-base-wgl
S3_PREFIX=knowledge-base/runbooks/
RAG_INDEX=knowledge-base
RAG_K=3
ANALYSIS_TYPE=general
WATCH_MODE=true
WATCH_INTERVAL_MINUTES=15
MODEL_NAME=llama3.1:8b
OLLAMA_BASE_URL=http://ollama:11434
